@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-fitpeo break-words font-normal text-base leading-[140%] tracking-[0];
  }
  @screen xl {
    body {
      @apply text-[1.125rem];
    }
  }
}

@layer utilities {
  .font-display {
    @apply font-extrabold uppercase text-[4rem] leading-[0.8] tracking-[-0.05em]  text-fitpeo-white;
    transform: scaleY(1.2);
    transform-origin: center top;
    font-stretch: condensed;
  }

  @screen sm {
    .font-display {
      @apply text-[6rem];
    }
  }

  @screen xl {
    .font-display {
      @apply text-[9rem];
    }
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  h1 {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.025em;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 130%;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }
  }

  p {
    overflow-wrap: break-word;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.125rem;
    }
  }

  .font-h1 {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -0.025em;
  }

  @media (min-width: 768px) {
    .font-h1 {
      font-size: 3.5rem;
    }
  }

  .font-h2 {
    font-size: 1.5rem;
    line-height: 110%;
  }

  @media (min-width: 768px) {
    .font-h2 {
      font-size: 2rem;
    }
  }

  .font-h3 {
    font-size: 1.25rem;
    line-height: 130%;
  }

  @media (min-width: 768px) {
    .font-h3 {
      font-size: 1.5rem;
    }
  }

  .font-button {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 110%;
  }

  @media (min-width: 768px) {
    .font-button {
      line-height: 95%;
    }
  }

  .font-p {
    overflow-wrap: break-word;
    font-size: 1rem;
    line-height: 140%;
  }

  @media (min-width: 768px) {
    .font-p {
      font-size: 1.125rem;
    }
  }

  .font-p-lg {
    font-size: 1.5rem;
    line-height: 130%;
  }

  .font-p-lg,
  .font-p-sm {
    font-weight: 400;
  }

  .font-p-sm {
    font-size: 0.75rem;
    line-height: 140%;
  }

  .focus-border:has([data-focus-visible]),
  .focus-border[data-focus-visible],
  .group\/focus:has([data-focus-visible]) .focus-border,
  .group\/focus[data-focus-visible] .focus-border {
    position: relative;
    z-index: 1;
    border-width: 1px;
    border-color: var(--focus-color);
  }

  .focus-border[data-focused] {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .focus-ring:has([data-focus-visible]),
  .focus-ring[data-focus-visible],
  .group\/focus:has([data-focus-visible]) .focus-ring,
  .group\/focus[data-focus-visible] .focus-ring {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);
    --tw-ring-color: var(--focus-color);
  }

  .focus-ring[data-focused],
  .no-focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
